<div class="home-page__show">
  <div class="container content-container">
    <%= form_tag search_tours_path, method: :get do %>
      <div class="form-group home-inputs">
        <label for="country">Country</label>
        <%= select_tag :country, options_from_collection_for_select(country_opts_for_select, :first, :last),
          class: 'form-control' %>
      </div>
      <div class="form-group home-inputs">
        <label for="city">City</label>
        <%= select_tag :city, options_from_collection_for_select(city_opts_for_select, :first, :last),
          class: 'form-control' %>
      </div>
      <div class="form-group home-inputs">
        <label for="language">Language</label>
        <%= select_tag :language, options_from_collection_for_select(language_opts_for_select, :first, :last),
          class: 'form-control' %>
      </div>
      <div class="form-group home-inputs">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" name="date">
      </div>

      <%= submit_tag 'Get the Guide', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
