<div class="col-sm-4 tour-item">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= link_to tour_item.title, tour_path(tour_item) %>
      </h3>
    </div>
    <div class="panel-body">
      <% if tour_item.has_coords? %>
        <img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center=&zoom=13&size=500x500&maptype=roadmap&markers=color:red%7Clabel:C%7C<%= tour_item.latitude %>,<%= tour_item.longitude %>&key=AIzaSyCQo2TjlIearvQuC6ZXsFxAbUkZ-QCLVQs" alt="">
      <% end %>

      <div class="col-xs-12 text-center guide-info">
        <% if current_user and current_user != tour_item.owner %>
          <a onclick="callToGuide('<%= tour_item.owner.kandy_id %>')" class='btn btn-lg btn-success'>
            Call guide
          </a>
        <% end %>
        <%= link_to 'Details', tour_path(tour_item), :class => 'btn btn-primary btn-sm' %>
      </div>
    </div>
    <div class="panel-footer text-center">
      <span class="label label-default">Price: $25</span>
      <span class="label label-default">Duration: 2h 30m</span>
    </div>
  </div>
</div>
