<div class="col-sm-4 tour-item">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= tour.title %>
      </h3>
    </div>
    <div class="panel-body">
      <%= image_tag(tour.tour_image.url, alt: '', class: 'img-responsive') %>
      <%= image_tag("black-and-white-man-person-eyes.jpg", alt: "John", class: 'img-responsive img-circle') %>

      <div class="col-xs-12 text-center guide-info">
        <h5><small>Guide name:</small> John Madisson</h5>
        <% if current_user_tourist? %>
          <%= form_tag schedule_tour_path(tour.id) do %>
            <%= link_to 'Details', tour, class: "btn btn-primary btn-md" %>
            <% if tour_scheduled?(tour) %>
              <span class="label label-default">Scheduled</span>
            <% else %>
              <%= submit_tag 'Schedule tour', class: "btn btn-success btn-md" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="panel-footer text-center">
      <span class="label label-default">Price: $25</span>
      <span class="label label-default">Duration: 2h 30m</span>
    </div>
  </div>
</div>
