<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css">

  <title>Touragogo</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<nav class="navbar navbar-default hidden-xs hidden-sm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Guide Me</a>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><%= link_to 'My Tours', tours_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><span id='online-status' class='label label-danger'>Offline</span></a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: 'DELETE' %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <div id="local-video" style="position: relative; z-index: 2; min-width: 100px; min-height: 70px;">
              <img src="http://www.noteblur.com/Content/Avatar/empty-avatar.jpg" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-xs-6">
            <div id="remote-video" style="position: relative; z-index: 2; min-width: 100px; min-height: 70px;">
              <img src="http://www.noteblur.com/Content/Avatar/empty-avatar.jpg" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="reject" type="button" class="btn btn-default" data-dismiss="modal" onclick="rejectCall()">Reject</button>
        <button id="answer" type="button" class="btn btn-primary" onclick="answerCall()">Answer</button>
        <button id="hangout" type="button" class="btn btn-danger" style="display:none" onclick="endCall()">End call</button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://kandy-portal.s3.amazonaws.com/public/javascript/kandy/2.4.1/kandy.js" ></script>
<script>
  <% if current_user %>
    $(function() {
      var fullUserId = '<%= current_user.kandy_id %>';
      var userPassword = '<%= current_user.kandy_password %>';
      var apiKey = 'DAK2dc941ec92254fad9cda939b8bb05de4';

      kandy.setup({
        remoteVideoContainer: document.getElementById('remote-video'),
        localVideoContainer: document.getElementById('local-video'),
        listeners: {
          callinitiated: function(call, callee){
            window.callId = call.getId();
            console.log("Call initiated with ", callee, "['", callId, "']. Ringing...");
          },
          callinitiatefailed: function(){
            alert('Call failed');
            console.log('onCallInitiateFailed,');
          },
          callincoming: function(call){
            window.callId = call.getId();
            console.log('onCallIncoming,');
            $('#myModal').modal({
              show: true,
              backdrop: false
            });
          },
          callanswered: function() { console.log('onCallAnswered,'); },
          callanswerfailed: function(){ console.log('onCallAnswerFailed,'); },
          callrejected: function() {
            alert('Call rejected!');
          },
          callended: function(){ console.log('onCallEnded,'); },
          callendfailed: function(){ console.log('onCallEndFailed,'); },
          callestablished: function(){ console.log('onCallEstablished,'); },
          callstatechanged: function(){ console.log('onCallStateChanged'); }
        },
        autoreconnect: true,
        registerforcalls: true,
        loglevel: 'debug'
      });

      kandy.login(apiKey, fullUserId, userPassword,
        function(token) {
          console.log('Kandy login succeeded, token: ', token);
          $('#online-status').html('Online');
          $('#online-status').addClass('label-success');
          $('#online-status').removeClass('label-danger');
        },
        function() {
          console.log('Kandy login failed');
        }
      );

      window.kandyCall = function(destination) {
        kandy.call.makeCall(destination, true);
      };

      window.endCall = function() {
        $('#myModal').modal({
          show: false
        });
        if (window.callId) {
          kandy.call.endCall(callId);
        }
      };

      window.answerCall = function() {
        kandy.call.answerCall(callId, true);
        $('#reject').hide(0);
        $('#answer').hide(0);
        $('#hangout').show(0);
      };

      window.rejectCall = function() {
        $('#myModal').modal({
          show: false
        });
        if (window.callId) {
          kandy.call.rejectCall(callId);
        }
      };
    });
  <% end %>
</script>

<script>
  window.callToGuide = function(id) {
    $('#reject').hide(0);
    $('#answer').hide(0);
    $('#hangout').show(0);

    $('#myModal').modal({
      show: true
    });

    kandyCall(id);
  }
</script>

</body>
</html>
